HTML, body{
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: #300350;
}

header{
background-color: #300350;
}

li{
list-style: none;
}

a{
color: #E93479;
text-decoration: none;
}

.navbar{
min-height: 50px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 24px;
}

.nav-menu{
display: flex;
justify-content:space-between ;
align-items: center;
gap: 90px;
font-size: 20px;
}

.logo{
font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
transition: 0.5s ease;
animation-name: logo;
animation-duration: 5s;
animation-direction: alternate-reverse;
animation-iteration-count: infinite;
}

@keyframes logo{
0% {color: #300350;}
25% {color: #94167F;}
50% {color:#F62E97 ;}
75% {color:#153CB4 ;}
100%{color:#F9AC53;}
from {top:0px}
}

.nav-link{
transition: 0.5s ease;
animation-name: link;
animation-duration: 5s;
animation-direction: alternate-reverse;
animation-iteration-count: infinite;
font-size: 25px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@keyframes link{
0% {color: #300350;}
25% {color: #94167F;}
50% {color:#F62E97 ;}
75% {color:#153CB4 ;}
100%{color:#F9AC53;}
}


.dropdown{
display: none ;
cursor: pointer;
}

.bar{
display: block;
width: 35px;
height: 5px;
margin: 3.5px;
-webkit-transition: all 0.3s ease-in-out ;
transition: all 0.3s ease-in-out ;
background-color: #F9AC53;
}

@media(max-width:750px){
.dropdown{
  display: block;
}

.dropdown.active .bar:nth-child(1){
transform: translateY(8px) rotate(45deg);
}
.dropdown.active .bar:nth-child(2){
opacity: 0;
}

.dropdown.active .bar:nth-child(3){
transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
position:fixed;
left: -200% ;
top:30px;
gap: 0;
flex-direction: column;
background-color: aqua;
width: 100%;
text-align: center;
background-color: #300350;
transition: 0.5s;
}


.nav-item{
margin: 10px;
}

.nav-menu.active{
left: -5%;
}

}

.hi{
  text-align: center;
}

#back{
  padding: 20px;
}

.container{
  display: flex;
  justify-content: center;
  height: 400px;
  padding: 60px;
}

.info{
  background-color: aqua;
  width: 300px;
  border-radius: 20px;
}

.buy{
  background-color: lime;
  width: 300px;
  border-radius: 20px;
}

.space{
  padding: 90px;
}



footer{
text-align: center;
font-size: 40px;
padding: 20px;
display: flex;
justify-content: space-evenly;
background-color: #300350;
text-shadow: 1px -1px #F9AC53;

}